:root {
  --mint-green: #bee9e8ff;
  --moonstone: #62b6cbff;
  --indigo-dye: #1b4965ff;
  --columbia-blue: #cae9ffff;
  --picton-blue: #5fa8d3ff;
}

table,
th,
td {
  border: 1px solid var(--moonstone);
  border-collapse: collapse;
}

.tableContainer {
  margin-top: 16px;
  padding: 20px;
  background: var(--columbia-blue);
}

.tableWrapper th {
  height: 28px;
  background: var(--indigo-dye);
  color: var(--mint-green);
}

.tableWrapper th:first-child {
  width: 8%;
}
.tableWrapper th:nth-child(2) {
  width: 12%;
}

.tableWrapper th:nth-child(3) {
  width: 10%;
}
.tableWrapper th:nth-child(4) {
  width: 7%;
}

.tableWrapper th:nth-child(5) {
  width: 5%;
}
.tableWrapper th:nth-child(6) {
  width: 8%;
}
.tableWrapper th:nth-child(7) {
  width: 15%;
}
.tableWrapper th:last-child {
  width: 6%;
}

td {
  text-align: center;
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-all;
  table-layout: fixed;
}
.tableWrapper td:nth-child(8) {
  text-align: justify;
  padding: auto 8px;
}
.tableWrapper td div {
  padding: 5px;
}
.removeAllButton {
  height: 50px;
  position: relative;
}
.removeAllButton button {
  background: red;
  color: var(--columbia-blue);
  font-size: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  animation-name: leftRight;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  position: absolute;
  &:hover {
    box-shadow: 0 0 4px 4px #fff;
    background: rgba(255, 0, 0, 0.719);
  }
}

@keyframes leftRight {
  0%,
  100% {
    left: 0;
    /* transform: translateX(0); */
  }
  50% {
    left: unset;
    right: 0;
    /* transform: translateX(980px); */
  }
}
